<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fashion Palace</title>
    <%- include("./includes/template-head-part") %>
</head>
<body class="animsition">
	
	<!-- Header -->
	<%- include("./includes/template-header") %>

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl8">
				<%= product.category.name %>
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</span>

			<span class="stext-109 cl4">
				<%=product.name%>
			</span>
		</div>
	</div>
		

	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="../admin/product_images/<%= product.images[0]%>">
									<div class="wrap-pic-w pos-relative">
										<img src="../admin/product_images/<%= product.images[0]%>" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="../admin/product_images/<%= product.images[0]%>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="../admin/product_images/<%= product.images[1]%>">
									<div class="wrap-pic-w pos-relative">
										<img src="../admin/product_images/<%= product.images[1]%>" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="../admin/product_images/<%= product.images[1]%>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="../admin/product_images/<%= product.images[2]%>">
									<div class="wrap-pic-w pos-relative">
										<img src="../admin/product_images/<%= product.images[2]%>" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="../admin/product_images/<%= product.images[2]%>">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							<%=product.name%>
						</h4>

						<span class="mtext-106 cl2">
							<i class="fa fa-inr" aria-hidden="true"></i><%=product.price%>
						</span>

						<p class="stext-102 cl3 p-t-23">
							<%=product.description%>
						</p>

						<div class="p-t-33">
							
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									<a href="javascript:void(0)" onclick="addtocart('<%=product._id%>')" class="flex-c-m stext-101 cl5 size-10 bg2 bor1 hov-btn1 p-2 trans-04" style="width: 150px;">
										<i class="ti-bag"></i> Add To Cart
									</a>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		

	<!-- Footer -->
    <%- include("./includes/template-footer-and-scripts") %>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>
		function addtocart(proId) {
		  $.ajax({
			url: '/addToCart/' + proId,
			method: 'POST',
	  
			success: (response) => {
			  if (response.status==true) {
				Swal.fire({
				  title: 'Added To Cart',
				  text: 'Your Product has been added to Cart',
				  icon: 'success',
				  timer: 5000
				})
				
			  }else if(response.status=='outOfStock'){
				Swal.fire({
				  title: 'Out of Stock',
				  text: 'Product Out Of Stock',
				  icon: 'error',
				  timer: 5000
				})
			  }else if(response.status=='blocked'){
				Swal.fire({
				  title: 'You are blocked',
				  icon: 'error',
				  timer: 5000
				})
				setTimeout(() => {
					window.location.href="/logout"
				},5000)
			  }
			}
		  })
		}
	</script>
</body>
</html>