<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fashion Palace</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"/>
    <%- include("./includes/template-head-part") %>
  </head>
  <body>
    <!-- Header -->
    <%- include("./includes/template-header") %>
    <section style="background-color: #eee">
      <div class="container py-5">
        <div class="row">
          <%- include("./includes/profileSide") %>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <h4>Address Book</h4>
                <br>
                <section class="user-dashboard page-wrapper">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="dashboard-wrapper user-dashboard">
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Name</th>
                                  <th>Mobile Number</th>
                                  <th>Address</th>
                                  <th>Pincode</th>
                                  <th>State</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% arr.forEach((address)=>{%>

                                <tr>
                                  <td><%= address.name %></td>
                                  <td><%= address.mobileNumber %></td>
                                  <td>
                                    <%= address.address %>, <%= address.locality %>,
                                    <%= address.city %>
                                  </td>
                                  <td><%= address.pincode %></td>
                                  <td><%= address.state %></td>
                                  <td>
                                    <div class="btn-group" role="group">
                                      <button type="button" class="btn btn-default" onclick="editAddress(<%= JSON.stringify(address) %>)">
                                        <i class="fas fa-edit" aria-hidden="true"></i>
                                      </button>
                                      <a href="/deleteAddress?id=<%=address._id%>">
                                        Delete
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <%})%>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="text-center" style="margin-top: 20px">
                          <button type="button" class="btn btn-primary" onclick="addAddress()">
                            Add Address
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Popup form HTML edit address -->
                  <div class="form-popup" id="popupForm">
                    <div class="form-container">
                      <h3>Edit Address</h3>
                      <input type="hidden" id="idInput" placeholder="Name" />

                      <input type="text" id="nameInput" placeholder="Name" />
                      <input
                        type="text"
                        id="mobileNumberInput"
                        placeholder="Mobile Number"
                      />
                      <input type="text" id="addressInput" placeholder="Address" />
                      <input type="text" id="localityInput" placeholder="Locality" />
                      <input type="text" id="cityInput" placeholder="City" />
                      <input type="text" id="pincodeInput" placeholder="Pincode" />
                      <input type="text" id="stateInput" placeholder="State" />

                      <div class="btn-group">
                        <button type="button" class="btn" onclick="closePopupedit()">
                          Close
                        </button>
                        <button type="button" class="btn" onclick="saveAddressedit()">
                          Save
                        </button>
                      </div>
                    </div>
                  </div>

                  <!-- Popup form HTML add address -->
                  <div class="form-popup" id="popupFormadd">
                    <div class="form-container">
                      <h3>Add Adresss</h3>
                      <input type="hidden" id="idInput" placeholder="Name" />

                      <input type="text" id="nameInputadd" placeholder="Name" />
                      <input
                        type="text"
                        id="mobileNumberInputadd"
                        placeholder="Mobile Number"
                      />
                      <input type="text" id="addressInputadd" placeholder="Address" />
                      <input
                        type="text"
                        id="localityInputadd"
                        placeholder="Locality"
                      />
                      <input type="text" id="cityInputadd" placeholder="City" />
                      <input type="text" id="pincodeInputadd" placeholder="Pincode" />
                      <input type="text" id="stateInputadd" placeholder="State" />

                      <div class="btn-group">
                        <button type="button" class="btn" onclick="closePopup()">
                          Close
                        </button>
                        <button type="button" class="btn" onclick="saveAddress()">
                          Save
                        </button>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      function addAddress() {
        // Show the popup form
        document.getElementById("popupFormadd").style.display = "block";
      }

      function closePopup() {
        // Close the popup form
        document.getElementById("popupFormadd").style.display = "none";
      }

      function saveAddress() {
        // Get the form data
        var name = document.getElementById("nameInputadd").value;
        var mobileNumber = document.getElementById(
          "mobileNumberInputadd"
        ).value;
        var address = document.getElementById("addressInputadd").value;
        var locality = document.getElementById("localityInputadd").value;
        var city = document.getElementById("cityInputadd").value;
        var pincode = document.getElementById("pincodeInputadd").value;
        var state = document.getElementById("stateInputadd").value;

        // Validate the input values
        if (name.trim() === "") {
          alert("Name cannot be empty");
          return;
        }
        if (!/^[a-zA-Z ]+$/.test(name)) {
          alert("Name should not contain numbers or special characters");
          return;
        }
        if (mobileNumber.trim() === "") {
          alert("Mobile Number cannot be empty");
          return;
        }
        if (!/^\+?\d{1,12}$/.test(mobileNumber)) {
          alert("Mobile Number should contain a maximum of 12 numbers only");
          return;
        }
        if (address.trim() === "") {
          alert("Address cannot be empty");
          return;
        }
        if (locality.trim() === "") {
          alert("Locality cannot be empty");
          return;
        }
        if (city.trim() === "") {
          alert("City cannot be empty");
          return;
        }
        if (pincode.trim() === "") {
          alert("Pincode cannot be empty");
          return;
        }
        if (!/^\d{6}$/.test(pincode)) {
          alert("Pincode should contain exactly 6 digits");
          return;
        }
        if (state.trim() === "") {
          alert("State cannot be empty");
          return;
        }

        // Create a data object to send in the AJAX request
        var data = {
          name: name,
          mno: mobileNumber,
          address: address,
          locality: locality,
          city: city,
          pincode: pincode,
          state: state,
        };

        // Make an AJAX call to the "/addaddress" URL
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/submitAddress", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            // Request completed successfully
            console.log(xhr.responseText); // You can do something with the response here
            closePopup(); // Close the popup form after successful save
          }
        };
        xhr.send(JSON.stringify(data));
        location.reload();
      }
    </script>

    <script>
      function editAddress(address) {
        console.log("here", address);

        // Populate the form inputs with the address details
        document.getElementById("idInput").value = address._id;
        document.getElementById("nameInput").value = address.name;
        document.getElementById("mobileNumberInput").value =
          address.mobileNumber;
        document.getElementById("addressInput").value = address.address;
        document.getElementById("localityInput").value = address.locality;
        document.getElementById("cityInput").value = address.city;
        document.getElementById("pincodeInput").value = address.pincode;
        document.getElementById("stateInput").value = address.state;

        // Show the popup form
        var popupForm = document.getElementById("popupForm");
        popupForm.style.display = "block";
      }

      function closePopupedit() {
        // Close the popup form
        var popupForm = document.getElementById("popupForm");
        popupForm.style.display = "none";
      }

      function saveAddressedit() {
        // Get the input values
        var id = document.getElementById("idInput").value;
        var name = document.getElementById("nameInput").value;
        var mobileNumber = document.getElementById("mobileNumberInput").value;
        var address = document.getElementById("addressInput").value;
        var locality = document.getElementById("localityInput").value;
        var city = document.getElementById("cityInput").value;
        var pincode = document.getElementById("pincodeInput").value;
        var state = document.getElementById("stateInput").value;

        // Validate the input values
        if (name.trim() === "") {
          alert("Name cannot be empty");
          return;
        }
        if (!/^[a-zA-Z ]+$/.test(name)) {
          alert("Name should not contain numbers or special characters");
          return;
        }
        if (mobileNumber.trim() === "") {
          alert("Mobile Number cannot be empty");
          return;
        }
        if (!/^\+?\d{1,12}$/.test(mobileNumber)) {
          alert("Mobile Number should contain a maximum of 12 numbers only");
          return;
        }
        if (address.trim() === "") {
          alert("Address cannot be empty");
          return;
        }
        if (locality.trim() === "") {
          alert("Locality cannot be empty");
          return;
        }
        if (city.trim() === "") {
          alert("City cannot be empty");
          return;
        }
        if (pincode.trim() === "") {
          alert("Pincode cannot be empty");
          return;
        }
        if (!/^\d{6}$/.test(pincode)) {
          alert("Pincode should contain exactly 6 digits");
          return;
        }
        if (state.trim() === "") {
          alert("State cannot be empty");
          return;
        }

        var formData = {
          id: id,
          name: name,
          mobileNumber: mobileNumber,
          address: address,
          locality: locality,
          city: city,
          pincode: pincode,
          state: state,
        };

        // Send the form data to the server using AJAX
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/updateAddress", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            // Reload the section of the address table
            var addressTableSection = document.getElementById(
              "addressTableSection"
            );
            addressTableSection.innerHTML = xhr.responseText;
          }
        };
        xhr.send(JSON.stringify(formData));

        closePopupedit();
        location.reload();
      }

      //delete address
      function deleteAddress(address) {
        // Create an object with the address ID
        var formData = {
          addressId: address,
        };

        // Send the form data to the server using AJAX
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/deleteAddress", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            // Update the specific area with the response from the server
            var addressTableRow = document.getElementById(
              "addressTableRow_" + addressId
            );
            var newAddressTableRow = xhr.responseText;

            // Replace the old address table row with the updated one
            if (addressTableRow && newAddressTableRow) {
              var tempElement = document.createElement("tr");
              tempElement.innerHTML = newAddressTableRow;
              addressTableRow.parentNode.replaceChild(
                tempElement.firstChild,
                addressTableRow
              );
            }
          }
        };
        xhr.send(JSON.stringify(formData));
        location.reload();
      }
    </script>

    <%- include("./includes/template-footer-and-scripts") %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </body>
</html>
