<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fashion Palace</title>
	<%- include("./includes/template-head-part") %>

	<style>
		.img {
  			width: 200px;
  			height: 400px;
  			object-fit: cover;
		}
		.pagination {
  			margin-top: 10px;
  			border-left: 1px solid #ffffff;
  			border-radius: 0px; }
  		.pagination a {
    		width: 40px;
    		line-height: 40px;
    		text-align: center;
    		display: inline-block;
    		background: #cfcccc; }
    	.pagination a.active {
      		color: #fff; }
    	.pagination a:hover {
      		color: #fff; }
  		.pagination .dot-dot {
    		width: auto;
    		background: transparent;
    		border-top: 0px;
    		border-bottom: 0px;
    		color: #cccccc;
    		padding: 0 5px; }
    	.pagination .dot-dot:hover {
      		background: transparent;
      		border: 0px;
      		border-right: 1px solid #eee;
      		color: #cccccc; }
		.active-category {
    		background-color: #f2f2f2; /* Or any desired color to highlight */
   			font-weight: bold;}
		.js-show-sort {
    		position: relative;}
		.panel-sort {
			position: absolute; 
			top: 100%; 
			left: 0;
			z-index: 2; /* to ensure the panel appears over other elements */
			width: 150%;}
			.filter-col1 ul {
    padding: 0;       /* Remove padding from the unordered list */
    margin: 0;        /* Remove margin from the unordered list */
    list-style-type: none; /* Remove bullet points */
}

.filter-col1 li {
    display: block;   /* Make the list items occupy the full width */
    margin: 0;        /* Remove any margins */
}

.filter-col1 a.filter-link {
    display: block;   /* Make the anchor tags occupy the full width */
    padding: 5px 0;   /* Add some vertical padding for spacing. Adjust as needed */
}
.wrap-filter {
    width: 100%;  /* Ensuring it takes the full width of its container */
}

form.d-flex {
    justify-content: space-between;
    align-items: center;  /* This ensures vertical centering of elements */
    flex-grow: 1;  /* This ensures the form takes all available space */
}

form.d-flex .btn {
    margin-left: auto;  /* Pushes the button to the far right */
    margin-right: 0;  /* Ensures no extra margin on the right */
}


	</style>
</head>
<body class="animsition">
	
	<!-- Header -->
    <%- include("./includes/template-header") %>

	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m m-tb-10">
					<button>
						<li class="main-nav-list">
							<a class="nav-link stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 <%= (!selectedCategoryId) ? 'active-category' : '' %>"
								href="/shop">ALL PRODUCTS</a>
						</li>
					</button>
					<% category.forEach(function(item) { %>
						<button>
							<li class="main-nav-list">
								<a class="nav-link stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 <%= (item._id.toString() == selectedCategoryId) ? 'active-category' : '' %>"
									href="/shop?id=<%= item._id %>">
									<%= item.name.toUpperCase() %>
								</a>
							</li>
						</button>
						<% })%>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>
				
				<!-- Search product -->
				<div class="search_input dis-none panel-search w-full p-t-10 p-b-15" id="search_input_box">
					<div class="container bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>
						<form class="d-flex justify-content-between" action="/shop">
							<input class="mtext-107 cl2 size-114 plh2 p-r-15" id="search_input" type="text" name="search"
								placeholder="Search Here">
							<button type="submit" class="btn ml-auto">search</button>
						</form>
					</div>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<ul>
								<li class="p-b-6">
									<a href="/shop?sort=price_asc" class="filter-link stext-106 trans-04">
										Price: Low to High
									</a>
								</li>

								<li class="p-b-6">
									<a href="/shop?sort=price_desc" class="filter-link stext-106 trans-04">
										Price: High to Low
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Price
							</div>

							<ul>
								<li class="p-b-6">
									<a href="/shop" class="filter-link stext-106 trans-04">
										All
									</a>
								</li>

								<li class="p-b-6">
									<a href="/shop?minPrice=1&&maxPrice=999" class="filter-link stext-106 trans-04">
										₹ 1 to ₹ 999
									</a>
								</li>

								<li class="p-b-6">
									<a href="/shop?minPrice=1000&&maxPrice=4999" class="filter-link stext-106 trans-04">
										₹ 1000 to ₹ 4999
									</a>
								</li>

								<li class="p-b-6">
									<a href="/shop?minPrice=5000&&maxPrice=9999" class="filter-link stext-106 trans-04">
										₹ 5000 to ₹ 9999
									</a>
								</li>

								<li class="p-b-6">
									<a href="/shop?minPrice=10000&&maxPrice=100000" class="filter-link stext-106 trans-04">
										Above ₹ 10000
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row isotope-grid">
				<% product.forEach((item) => { %>
					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img class="img" src="../admin/product_images/<%= item.images[0]%>" alt="IMG-PRODUCT">
			
								<a href="/productPage?id=<%=item._id %>" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
									Quick View
								</a>
							</div>
			
							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="/productPage?id=<%=item._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										<%=item.name %>
									</a>
			
									<small><%=item.category.name%></small>
			
									<span class="stext-105 cl3">
										<i class="fa fa-inr" aria-hidden="true"> </i> <%= item.price%>
									</span>
								</div>
			
								<div class="prd-bottom">
									<a href="javascript:void(0)" onclick="addtocart('<%=item._id%>')" class="flex-c-m stext-101 cl5 size-10 bg2 bor1 hov-btn1 p-2 trans-04" style="width: 150px;">
										<i class="ti-bag"></i> Add To Cart
									</a>
								</div>
							</div>
						</div>
					</div>
				<% }) %>
			</div>

			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				<div class="pagination">
					<% if (currentPage> 1) { %>
						<a href="/shop?page=<%= currentPage - 1 %>&sort=<%= sortQuery %>"
							class="prev-arrow flex-c-m stext-10 cl5 size-20 bg2 bor1">
							<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
						</a>
					<% } %>
					
					<% for (let i=1; i <=totalPages; i++) { %>
						<% if (i===currentPage) { %>
							<a href="/shop?page=<%= i %>&sort=<%= sortQuery %>"
								class="active flex-c-m stext-10 cl5 size-20 bg2 bor1">
								<%= i %>
							</a>
						<% } else { %>
								<a href="/shop?page=<%= i %>&sort=<%= sortQuery %>" class="flex-c-m stext-10 cl5 size-30 bg2 bor1">
									<%= i %>
								</a>
						<% } %>
					<% } %>
					
					<% if (currentPage < totalPages) { %>
						<a href="/shop?page=<%= currentPage + 1 %>&sort=<%= sortQuery %>"
							class="next-arrow flex-c-m stext-10 cl5 size-20 bg2 bor1">
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</a>
						<% } %>
				</div>
			</div>
		</div>
	</div>
		
	<script>
		function addtocart(proId) {
		  $.ajax({
			url: '/addToCart/' + proId,
			method: 'POST',
	  
			success: (response) => {
			  if (response.status==true) {
				Swal.fire({
				  title: 'Added To Cart',
				  text: 'Your Product has been added to Cart',
				  icon: 'success',
				  timer: 5000
				})
				
			  }else if(response.status=='outOfStock'){
				Swal.fire({
				  title: 'Out of Stock',
				  text: 'Product Out Of Stock',
				  icon: 'error',
				  timer: 5000
				})
			  }else if(response.status=='blocked'){
				Swal.fire({
				  title: 'You are blocked',
				  icon: 'error',
				  timer: 5000
				})
				setTimeout(() => {
					window.location.href="/logout"
				},5000)
			  }
			}
		  })
		}
	</script>
	
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <%- include("./includes/template-footer-and-scripts") %>

	<script>
		document.querySelector('.js-show-sort').addEventListener('click', function () {
				var dropdown = document.querySelector('.panel-sort');
				// Note: We changed from '.main-categories' to '.panel-sort'

				if (dropdown.classList.contains('dis-none')) {
					dropdown.classList.remove('dis-none');
				} else {
					dropdown.classList.add('dis-none');
				}
			});


	</script>

</body>
</html>