<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fashion Palace</title>
    <%- include("./includes/template-head-part") %>
  </head>
  <body>

    <!-- Header -->
    <%- include("./includes/template-header") %>

    <div class="text-center center-div" id="signup">
        <div class="container w-25 py-5">
            <div class="title pb-3">
                <h2 class="font-weight-bold">Signup</h2>
                <span style="color: red;"><%=(typeof message!=='undefined')?message:""%></span>
            </div>

            <form action="" method="post" id="signup-form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= typeof formData !== 'undefined' ? formData.name : '' %>">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="tel" class="form-control" id="mobile" name="mobile" value="<%= typeof formData !== 'undefined' ? formData.mobile : '' %>">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email"  name="email" value="<%= typeof formData !== 'undefined' ? formData.email : '' %>">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="col-md-12 form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" id="name" name="confPassword">
                </div>
                <br>
                <button type="submit" class="btn btn-success rounded-pill">Signup</button>
            </form>
            
            

        </div>
    </div>

    <%- include("./includes/template-footer-and-scripts") %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
    
    