<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fashion Palace</title>
    <link rel="icon" type="image/png" href="/public/images/icons/favicon.png"/>
    <link rel="stylesheet" href="/admin/assets/css/styles.min.css" />

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.1/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <style>
        body {
            background-color: #f8f9fa;
        }
        .btn-back {
            margin: 1rem;
            font-size: 1rem;
            color: #ffffff; /* White text */
            background-color: #007bff; /* Blue background */
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none; /* No underline */
        }
        .card {
            border-radius: 1rem;
            border: none;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
            max-width: 800px;
            margin: auto;
        }
        .card .card-body {
            padding: 3rem 4rem;
        }
        .btn-primary {
            background-color:#007bff;
        }
        .form-label {
            font-weight: 500;
            color: #495057;
        }
        .form-group {
            margin-bottom: 1.5rem;
        }
        .narrow-column {
            width: 20px;
        }
    </style>

</head>
<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <%- include("./includes/sidebar.ejs") %>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
          <!--  Header Start -->
          <%- include("./includes/header.ejs") %>
          <!--  Header End -->
          <div class="container-fluid">
            <!--  Row 1 -->
            
            <div class="row">
              
              <div class="col-lg-12 d-flex align-items-stretch">
                <div class="card w-100">
                  <div class="card-body p-4">
                                    <!-- Main content -->
    <main class="container my-5">       
        <h1 class="mb-5 text-center text-secondary">Add New Product</h1>
        <form action="/admin/addProduct" method="post" enctype="multipart/form-data">
            <div class="card shadow-lg">
                <div class="card-body">
                    <!-- Your form groups go here -->
                                <div class="form-group mb-4">
                                    <div>
                                        <label class="form-label" for="product-name">Product title</label>
                                    </div>
                                    <div>
                                        <input type="text" id="product-name" class="form-control" name="name" placeholder="Type here">
                                    </div>
                                </div>
                                
                                <div class="form-group mb-4">
                                    <div>
                                        <label class="form-label" for="product-description">Description</label>
                                    </div>
                                    <div>
                                        <textarea class="form-control" id="product-description" name="description" rows="4" placeholder="Type here"></textarea>
                                    </div>
                                </div>
                                
                                <div class="form-group mb-4">
                                    <div>
                                        <label class="form-label" for="product-category">Category</label>
                                    </div>
                                    <div>
                                        <select class="form-select" id="product-category" name="category">
                                            <% category.forEach(function(category) { %>
                                            <option value="<%= category._id %>"><%= category.name %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
            
                                <div class="form-group mb-4">
                                    <div>
                                        <label class="form-label" for="product-price">Cost in INR</label>
                                    </div>
                                    <div>
                                        <input type="number" id="product-price" class="form-control" name="price" placeholder="00.0">
                                    </div>
                                </div>

                                <div class="form-group mb-4">
                                    <div>
                                        <label class="form-label">Stock</label>  
                                    </div>                                    
                                    <div>
                                        <input type="number" placeholder="0" class="form-control" name="stock" id="stock" onkeyup="stockValidation()"><span id="stockError"></span>
                                    </div>
                                </div>
                                
                                <h5 class="mt-5 mb-3 text-secondary">Product Images</h5>
                                
                                <div class="form-group mb-4">
                                    <div>
                                        <label class="form-label" for="main-image">Main Image</label>
                                    </div>
                                    <div>
                                        <img src="" id="imgView1" alt="product image" width="100px" height="100px">
                                    </div>
                                    <div>
                                        <input type="file" id="first-image" name="images" class="form-control" onchange="viewImage(event, 'imgView1')">
                                    </div>
                                </div>
                                
                                <div class="form-group mb-4">
                                    <div>
                                        <label class="form-label" for="second-image">Second Image</label>
                                    </div>
                                    <div>
                                        <img src="" id="imgView2" alt="product image" width="100px" height="100px">
                                    </div>
                                    <div>
                                        <input type="file" id="second-image" name="images" class="form-control" onchange="viewImage(event, 'imgView2')">
                                    </div>
                                </div>
                                
                                <div class="form-group mb-4">
                                    <div>
                                        <label class="form-label" for="third-image">Third Image</label>
                                    </div>
                                    <div>
                                        <img src="" id="imgView3" alt="product image" width="100px" height="100px">
                                    </div>
                                    <div>
                                        <input type="file" id="third-image" name="images" class="form-control" onchange="viewImage(event, 'imgView3')">
                                    </div>
                                </div>
                                
            
                                <button type="submit" class="btn btn-primary mt-3"><i class="bi bi-box-arrow-in-up"></i> Publish Product</button>
                </div>
            </div>
        </form>
        
        <div class="text-center mt-5">
            <p class="text-danger"><%=(typeof message!=='undefined')?message:""%></p>
        </div>
    </main>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
      </div>

    <script>
            function viewImage(event, imageId) {
                document.getElementById(imageId).src = URL.createObjectURL(event.target.files[0]);
            }
    </script>
    <script>
        const stock = document.getElementById("stock")

        function stockValidation(){
            const stockValue = stock.value
			if(stockValue.trim()==0){
				stockError.innerHTML = 'Stock is Required'
				stockError.style.color = 'red'
				stock.style.border = "solid 2px red";
				return false;
			}
            if(stockValue <  0 ){
				stockError.innerHTML = 'Stock Must be greater than or equal to zero'
				stockError.style.color = 'red'
				stock.style.border = "solid 2px red";
				return false;
			}
            stockError.innerHTML = ""
			stockError.style.color = "green"
			stock.style.border = "solid 2px green";
			return true
        }
    </script>
</body>
</html>
