<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/public/images/icons/favicon.png"/>
        <link rel="stylesheet" href="/admin/assets/css/styles.min.css" />
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.1/font/bootstrap-icons.css">

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-beta2/css/bootstrap.min.css" rel="stylesheet">
    
        <style>
            body {
            background-color: #f8f9fa;
            }
            .btn-back {
                margin: 1rem;
                font-size: 1rem;
                color: #ffffff; /* White text */
                background-color: #007bff; /* Blue background */
                padding: 5px 10px;
                border-radius: 5px;
                text-decoration: none; /* No underline */
            }
            .card {
                border-radius: 1rem;
                border: none;
                box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
                max-width: 800px;
                margin: auto;
            }
            .card .card-body {
                padding: 3rem 4rem;
            }
            .btn-primary {
                background-color:#007bff;
            }
            .form-label {
                font-weight: 500;
                color: #495057;
            }
            .form-group {
                margin-bottom: 1.5rem;
            }
            .narrow-column {
                width: 20px;
            }
            .card {
                border-radius: 1rem;
                border: none;
                box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
                margin: auto;
            }
            .card .card-body {
                padding: 3rem 4rem;
            }
            .form-group {
                margin-bottom: 1rem;
            }
            .content-main {
                max-width: 800px;
                margin: auto;
            }
            /* Define the color of the labels and inputs here */
            .form-label {
                color: #007bff; /* blue color */
            }
            .form-control {
                color: #495057;
            }
        </style>
    
        <title>Fashion Palace</title>
    </head>
<body>

    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <%- include("./includes/sidebar.ejs") %>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
          <!--  Header Start -->
          <%- include("./includes/header.ejs") %>
          <!--  Header End -->
          <div class="container-fluid">
            <!--  Row 1 -->
            <div class="row">
              <div class="col-lg-12 d-flex align-items-stretch">
                <div class="card w-100">
                  <div class="card-body p-4">

                    <!-- Main content -->
                    <main class="container py-5 d-flex flex-column align-items-center justify-content-center">
                        <h1 class="mb-5 text-center text-secondary">Update Product</h1>
                        <section class="content-main">
                            <form action="/admin/updateProduct" method="post" enctype="multipart/form-data" class="card shadow-lg mx-auto">
                                <div class="card-body">
                                    
                                <!-- Product title -->
                                <div class="form-group mb-4">
                                    <div><label for="name" class="form-label">Product title</label></div>
                                    <div><input type="text" id="name" name="name" class="form-control" value="<%= product.name %>" placeholder="Type here" required></div>
                                </div>
                
                                <!-- Description -->
                                <div class="form-group mb-4">
                                    <div><label for="description" class="form-label">Description</label></div>
                                    <div><textarea id="description" name="description" class="form-control" rows="4" placeholder="Type here" required><%= product.description %></textarea></div>
                                </div>
                
                                <!-- Category -->
                                <div class="form-group mb-4">
                                    <div><label for="category" class="form-label">Category</label></div>
                                    <div>
                                        <select id="category" name="category" class="form-select">
                                            <% category.forEach(function(category) { %>
                                                <option value="<%= category._id %>" <%= product.category && product.category.toString() === category._id.toString() ? 'selected' : '' %>><%= category.name %></option>
                                            <% }); %>
                                        </select>
                                        
                                    </div>
                                </div>
                
                                <!-- Cost -->
                                <div class="form-group mb-4">
                                    <div><label for="price" class="form-label">Cost in INR</label></div>
                                    <div><input type="number" id="price" name="price" class="form-control" value="<%= product.price %>" placeholder="00.0" required></div>
                                </div>
                
                                <div class="form-group mb-4">
                                    <div><label class="form-label">Stock</label></div>
                                    <div><input type="number" placeholder="0" class="form-control" name="stock" value="<%=product.stock%>"></div>
                                </div>

                                <!-- Images -->
                                <div class="form-group mb-4">
                                    <div>
                                        <label for="productImages" class="form-label">Product Images</label>
                                    </div>
                                    <div id="imagesPreviewContainer">
                                        <% for(let i=0; i < product.images.length; i++) { %>
                                            <div class="image-wrapper">
                                                <img src="./product_images/<%= product.images[i] %>" id="imgView<%= i+1 %>" alt="product image" width="100px"
                                                    height="100px">
                                                <button type="button" class="btn btn-danger btn-sm delete-btn" onclick="deleteImage('imgView<%= i+1 %>')">Delete</button>
                                            </div>
                                        <% } %>
                                    </div>
                                    <input type="hidden" id="deletedImages" name="deletedImages" value="">

                                    <div>
                                        <input type="file" id="productImages" name="images" class="form-control" onchange="viewImages(event)" multiple accept=".jpeg, .jpg, .png, .webp">
                                    </div>
                                </div>

                
                                <!-- Hidden Input -->
                                <input type="hidden" name="id" value="<%= product._id %>">
                
                                <!-- Submit Button -->
                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Publish" class="btn btn-primary">
                                </div>
                                </div>
                            </form>
                        </section>
                    </main>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>



    <script>
        function viewImages(event) {
            const files = event.target.files;
            const imagesPreviewContainer = document.getElementById("imagesPreviewContainer");

            // Clear the existing previews
            imagesPreviewContainer.innerHTML = '';

            if (files.length > 3) {
                alert('You can upload up to 3 images only.');
                event.target.value = '';  // Clear the input
                return;
            }

            for (let i = 0; i < files.length; i++) {
                const file = files[i];

                // Validate file size
                if (file.size > 2 * 1024 * 1024) {
                    alert('Each image should be less than 2MB in size.');
                    event.target.value = '';  // Clear the input
                    return;
                }

                // Validate file type
                const validTypes = ['image/jpeg', 'image/jpg', 'image/png', 'image/webp'];
                if (!validTypes.includes(file.type)) {
                    alert('Only jpeg and png image types are allowed.');
                    event.target.value = '';  // Clear the input
                    return;
                }

                // Display image preview
                const imgPreview = document.createElement('img');
                imgPreview.src = URL.createObjectURL(file);
                imgPreview.width = 100;
                imgPreview.height = 100;
                imgPreview.id = "imgView" + (i+1); // For example, imgView1, imgView2, etc.
                imagesPreviewContainer.appendChild(imgPreview);
            }
        }

        function deleteImage(imgViewId) {
            const imageElement = document.getElementById(imgViewId);
            const deletedImagesInput = document.getElementById('deletedImages');

            // Add the image's filename to the deleted images list
            if (deletedImagesInput.value) {
                deletedImagesInput.value += ',' + imageElement.src.split('/').pop();
            } else {
                deletedImagesInput.value = imageElement.src.split('/').pop();
            }

            // Remove image preview and its delete button from the page
            const imageWrapper = imageElement.parentNode;  // Assuming this is the container of both the image and the delete button.
            imageWrapper.parentNode.removeChild(imageWrapper);

        }


    </script>
</body>
</html>
